@media(max-width: 620px){
    .cabecalho{
        padding: 30px 0;
    }

    .frutas.slider{
        padding: 0 15px;
        gap: 10px;
    }

    .btn-seta{
        width: 20px;
        height: 20px;
        padding: 20px;
    }

    .lista-frutas{
        height: 480px;
    }
}

@media(max-width: 420px){
    .cabecalho{
        text-align: center;
        padding: 30px 0;
    }

    .cabecalho h1{
        font-size: 25px;
        letter-spacing: 10px;
    }

    .cartao .nome{
        padding: 4px 5px;
        letter-spacing: 0px;
        font-size: 20px;
    }

    .frutas-slider{
        gap: 20px;
    }
}
